.form-control {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.form-control__label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #212529;
}

.form-control__input {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  width: 60vw;
  color: #495057;
  border: 1px solid #ced4da;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

.form-control__input:focus {
  border-color: #9aacf3;
  outline: 0;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 0 0 0.25rem rgb(52 89 230 / 25%);
}

.form-control__input__feedback {
  position: absolute;
  top: 8rem;
}

.form-control__input__icon {
  color: #ced4da;
  margin-left: 0.5rem;
  margin-top: -1.8rem;
  position: relative;
  z-index: 100;
}

.form-control__input__invalid {
  border-color: #da292e !important;
  box-shadow: 0 0 0 0.25rem rgb(218 41 46 / 25%) !important;
}

.form-control__button {
  margin-top: 1.6rem;
  margin-left: 0 !important;
}

.form-control__list {
  display: block;
  position: absolute;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
  background-color: #fff;
  width: 60vw;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
  margin-top: 5rem;
  padding-left: 0;
  z-index: 100;
}

.form-control__list ul {
  margin-top: 0;
  padding-left: 0;
}

.form-control__list li {
  padding: 0.5rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.1s ease-in-out, border-radius 0.1s ease-in-out,
    outline 0.1s ease-in-out;
}

.form-control__list li img {
  max-width: 30px;
  display: inline-block;
  margin-right: 0.25rem;
}

.form-control__list li:hover,
.form-control__list li:focus {
  cursor: pointer;
  background-color: #ced4da;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
}

.form-control__list__suggestion {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.5rem;
}

.form-control__list__suggestion button {
  cursor: pointer;
  width: auto;
  color: #da292e;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  margin-left: auto;
  font-size: 0.75rem;
  font-weight: 500;
  transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out,
    border-radius 0.15s ease-in-out;
}

.form-control__list__suggestion button:hover {
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
}

.form-control__list__suggestion button:focus {
  background-color: #d3d3d3;
  outline: auto;
  outline-color: #495057;
  outline-width: 0.25rem;
}

.form-control__list__suggestion i {
  padding-right: 0.25rem;
}

.error {
  color: #da292e;
}

.warning {
  color: #184a6d;
}

@media screen and (min-width: 768px) {
  .form-control__input {
    width: 35rem;
  }
  .form-control__list {
    width: 35rem;
  }
}
