h1 a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  display: block;
  height: 3rem;
  margin: 1rem 1rem 0 0;
}

.header {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #3459e6;
  color: #fff;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  h1 a {
    margin-top: 1.5rem;
  }
  .header {
    flex-direction: row;
    align-items: center;
  }

  .nav-bar {
    width: 75%;
  }
}
