.brand {
  color: #fff;
  border-radius: 0.25rem;
  margin-right: 1rem;
  font-size: 1rem;
  text-decoration: none;
  padding-left: 1rem;
}

.brand a {
  color: #fff;
}

.brand a:focus {
  outline: auto;
  outline-color: #495057;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.header {
  width: 100%;
  padding: 1.5rem 0.5rem;
  background-color: #3459e6;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  h1 a {
    margin-top: 1.5rem;
  }
  .header {
    flex-direction: row;
    align-items: center;
    height: 5rem;
  }

  .nav-bar {
    width: 75%;
  }
}
