.button {
  display: block;
  width: fit-content;
  margin-left: auto;
  background-color: #2fb380;
}

.button:hover,
.button:focus {
  background-color: #28986d;
  border-color: #28986d;
}

.result-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.result-info ul {
  padding-left: 0;
}

.result-info li {
  list-style: none;
  margin: 0.25rem;
}

.result-info li span {
  font-weight: bold;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.result-info img {
  max-width: 10rem;
}

.result-info__item {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1rem;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .result-info {
    margin: 2rem;
  }
  .result-info__item {
    margin: 2rem;
  }
}
